.payment-card {
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  padding: 10px 20px;
  background: rgb(255 255 255 / 4%);
}

.payment-card__recipient,
.payment-card__amount {
  margin: 0;
}

.payment-card__status {
  border: 2px solid var(--border-color);
  padding: 3px 6px;
  border-radius: 3px;
  text-transform: capitalize;
}

.payment-card__delete {
  padding: 10px 20px;
  background-color: var(--color-danger);
  color: var(--light-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.payment-card__delete:hover {
  opacity: 1;
}
