<div class="payment-static">
  <span>Payments: {{ paymentsCount() }}</span>
  <span>
    USD: {{ usdAll() }}
    EUR: {{ eurAll() }}
    GBP: {{ gbpAll() }}
  </span>
  Completed: {{ completedCount() }}
  Pending: {{ pendingCount() }}
  Failed: {{ failedCount() }}
</div>

<div class="payment-buttons">
  <button
    class="payment-button"
    [class.payment-button_active]="statusFilter() === 'all'"
    (click)="setStatusFilter('all')"
  >
    All
  </button>
  <button
    class="payment-button"
    [class.payment-button_active]="statusFilter() === 'completed'"
    (click)="setStatusFilter('completed')"
  >
    Completed
  </button>
  <button
    class="payment-button"
    [class.payment-button_active]="statusFilter() === 'pending'"
    (click)="setStatusFilter('pending')"
  >
    Pending
  </button>
  <button
    class="payment-button"
    [class.payment-button_active]="statusFilter() === 'failed'"
    (click)="setStatusFilter('failed')"
  >
    Failed
  </button>
</div>

<div class="currency-buttons">
  <button
    class="currency-button"
    [class.currency-button_active]="currencyFilter() === 'all'"
    (click)="setCurrencyFilter('all')"
  >
    All
  </button>
  <button
    class="currency-button"
    [class.currency-button_active]="currencyFilter() === 'USD'"
    (click)="setCurrencyFilter('USD')"
  >
    USD
  </button>
  <button
    class="currency-button"
    [class.currency-button_active]="currencyFilter() === 'EUR'"
    (click)="setCurrencyFilter('EUR')"
  >
    EUR
  </button>
  <button
    class="currency-button"
    [class.currency-button_active]="currencyFilter() === 'GBP'"
    (click)="setCurrencyFilter('GBP')"
  >
    GBP
  </button>
</div>

<button
  class="reset-button"
  (click)="resetFilters()"
>Reset Filters</button>

<input
  class="search-input"
  type="text"
  [formControl]="searchControl"
  placeholder="Search recipient"
>

@if (loading()) {
  <p>Loading</p>
} @else if (error()) {
  <p>{{ error() }}</p>
} @else {

  @for (payment of filteredPayments(); track payment.id) {
    <app-payment-card
      [payment]="payment"
      (deleted)="handleDelete($event)"
    />
  }

}



